*{
    margin: 0;
    padding: 0;
}

.container{
    height:120px;
    width:1000px;
    margin: auto;
   }

header{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 127, 184);
    background-image: url(img/pattern.png);
    background-repeat: repeat-x;
}

#logo1{
    height: 100px;
    width: 200px;
    margin-top: 35px;
}